<footer>
    <p class="copyright">Copyright © Abhisri Shaha</p>
    <ul class="social_icon">
      <li><a href="mailto:abhisrishaha@gmail.com"><ion-icon name="mail-outline"></ion-icon></a></li>
      <li><a href="https://github.com/abhisri-shaha"><ion-icon name="logo-github"></ion-icon></a></li>
      <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
    </ul>
</footer>